<div class="modal fade" id="inventoryModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md">

    <form method="POST"
          action="{% url 'inv_app:order_inventory_add' order.id %}"
          class="modal-content">

      {% csrf_token %}

      <div class="modal-header bg-success text-white">
        <h6 class="modal-title">Add Inventory</h6>
        <button class="btn-close btn-close-white"
                data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <!-- ITEM -->
        <div class="mb-2">
          <label class="form-label">Inventory Item</label>
          <select name="inventory_id"
                  id="inventory_id"
                  class="form-select form-select-sm"
                  required>
            <option value="">Select Item</option>
            {% for i in inventory_items %}
              <option value="{{ i.id }}"
                      data-stock="{{ i.current_qty }}">
                {{ i.item_name }} ({{ i.current_qty }})
              </option>
            {% endfor %}
          </select>
        </div>

        <!-- AVAILABLE -->
        <div class="mb-2">
          <label class="form-label">Available Stock</label>
          <input id="available_stock"
                 class="form-control form-control-sm"
                 readonly disabled>
        </div>

        <!-- QTY -->
        <div class="mb-2">
          <label class="form-label">Consume Qty</label>
          <input type="number"
                 step="0.01"
                 name="qty"
                 id="consume_qty"
                 class="form-control form-control-sm"
                 required>
          <small id="stockAlert"
                 class="text-danger d-none">
            Quantity exceeds available stock
          </small>
        </div>

      </div>

      <div class="modal-footer">
        <button id="saveBtn"
                class="btn btn-success btn-sm w-100">
          Add Inventory
        </button>
      </div>

    </form>
  </div>
</div>