.erp-loader {
    position: fixed;
    inset: 0;
    background: rgba(255,255,255,0.7);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.erp-loader-box {
    text-align: center;
    background: #fff;
    padding: 25px 35px;
    border-radius: 8px;
    box-shadow: 0 8px 25px rgba(0,0,0,.15);
}

.erp-loader p {
    margin-top: 10px;
    font-size: 14px;
}
